<!doctype html>
<html lang="ca">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width,initial-scale=1"/>
        <meta name="color-scheme" content="light dark"/>
        <title>Gestruc</title>

        <link rel="stylesheet" href="/main.css"/>
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png"/>
        <link rel="favicon" type="image/png" sizes="32x32" href="/favicon.png"/>
	</head>
	<body>
        <div class="stack-horiz">
            <h1>Hola, {{ player.name }}</h1>
            <a href="/logout" class="btn">Tancar sessió</a>
        </div>

        {%- if teams %}
            {%- for team in teams %}
        <a href="/teams/{{ team.id }}"><div class="team-card" data-is-captain="{{ team.captain_id == player.id }}">
            <h2>{{ team.name }}</h2>
            <p>{{ team.tournament_name }} ({{ team.tournament_year }})</p>
        </div></a>
            {%- endfor %}
        {%- else %}
        <p>No tens cap equip</p>
        {%- endif %}
    </body>
</html>
