<!doctype html>
<html lang="ca">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width,initial-scale=1"/>
        <meta name="color-scheme" content="light dark"/>
        <title>{{ team.name }} | Gestruc</title>

        <link rel="stylesheet" href="/main.css"/>
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png"/>
        <link rel="favicon" type="image/png" sizes="32x32" href="/favicon.png"/>
	</head>
	<body>
		<h1>{{ team.name }}</h1>

        <div class="stack-horiz">
            <p>{{ team.tournament_name }} ({{ team.tournament_edition }})<br/><strong><a href="/players/{{ captain.id }}">{{ captain.name }}</a></strong>, <a href="/players/{{ partner.id }}">{{ partner.name }}</a></p>
            {% if is_team_member %}<a href="/add-game/{{ team.id }}" class="btn">Afegir partida</a>{% endif %}
        </div>

        {%- if games %}
        <div class="card-stack">
            {%- for game in games %}
            <div class="card game-card">
                <a href="/games/{{ game.id }}">Veure detalls</a>
                <h2><a href="/teams/{{ game.team_ids.0 }}">{{ game.team_names.0 }}</a> vs <a href="/teams/{{ game.team_ids.1 }}">{{ game.team_names.1 }}</a></h2>
                <div class="stack-horiz">
                    <p class="date">{{ game.date | date(format="%Y-%m-%d %H:%M", timezone="Europe/Madrid")}}</p>
                    <p class="scores">{{ game.scores.0.0 }}-{{ game.scores.1.0 }}, {{ game.scores.0.1 }}-{{ game.scores.1.1 }} {%- if game.scores.0.2 != 0 and game.scores.1.2 != 0 %}, {{ game.scores.0.2 }}-{{ game.scores.1.2 }}{% endif %}</p>
                </div>
            </div>
            {%- endfor %}
        </div>
        {%- else %}
        <p>No tens partides jugades</p>
        {%- endif %}
    </body>
</html>
