<!doctype html>
<html lang="ca">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width,initial-scale=1"/>
        <meta name="color-scheme" content="light dark"/>
        <title>Gestruc</title>

        <link rel="stylesheet" href="/main.css"/>
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png"/>
        <link rel="favicon" type="image/png" sizes="32x32" href="/favicon.png"/>
	</head>
	<body>
		<h1>{{ team.name }}</h1>
        <p>{{ team.tournament_name }} ({{ team.tournament_year }})</p>
        <p><strong>{{ captain.name }}</strong>, {{ partner.name }}</p>
        {%- if games %}
            {%- for game in games %}
        <a href="/games/{{ game.id }}"><div class="game-card">
            <h2>{{ game.team_names.0 }} vs {{ game.team_names.1 }}</h2>
            <p>{{ game.date | date(format="%Y-%m-%d %H:%M", timezone="Europe/Madrid") }} &ndash; {{ game.scores.0.0 }}-{{ game.scores.1.0 }}, {{ game.scores.0.1 }}-{{ game.scores.1.1 }}, {{ game.scores.0.2 }}-{{ game.scores.1.2 }}</p>
        </div></a>
            {%- endfor %}
        {%- else %}
        <p>No tens partides jugades</p>
        {%- endif %}
    </body>
</html>
