{% import "partials" as partials %}
<!doctype html>
<html lang="ca">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width,initial-scale=1"/>
        <meta name="color-scheme" content="light dark"/>
        <title>{{ team.name }} | Gestruc</title>

        <link rel="stylesheet" href="/main.css"/>
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png"/>
        <link rel="favicon" type="image/png" sizes="32x32" href="/favicon.png"/>
	</head>
	<body>
		<h1>{{ team.name }}</h1>

        <div class="stack-horiz">
            <p>{{ team.tournament_name }} ({{ team.tournament_edition }})<br/><strong><a href="/players/{{ captain.id }}">{{ captain.name }}</a></strong>, <a href="/players/{{ partner.id }}">{{ partner.name }}</a></p>
            {% if is_team_member %}<a href="/add-game/{{ team.id }}" class="btn">Afegir partida</a>{% endif %}
        </div>

        {%- if games %}
        <div class="card-stack">
            {%- for game in games %}
                {{ partials::game_card(game=game) }}
            {%- endfor %}
        </div>
        {%- else %}
        <p>No tens partides jugades</p>
        {%- endif %}
    </body>
</html>
